* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backg {
    background-image: url('../src/assets/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.backg img {
    max-width: 1100px;
    margin: 0 15rem;
    padding: 30px 30px;
    display: flex;
    justify-content: right;
}

.backg p {
    font-family:'Trebuchet MS';
    font-size: 18px;
    max-width: 1100px;
    margin: 0px 15rem;
    padding: 25px 0;
    color: white;
}