* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bienvenida{
    position: absolute;
    top: 55%;
    left: 7%;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    margin: auto;
    justify-content: center;
    font-family:'Trebuchet MS';

}
.bienvenida2{
    position: absolute;
    top: 63%;
    left: 7%;
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    margin: auto;
    justify-content: center;
    font-family:'Trebuchet MS';

}